<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>CryptoLeads</title>
</head>

<body>
    
    <div class="jumbotron">

        <div class="container">
            <h1 class="center teal-text text-lighten-2">Crypto Leads</h1>
            <div class="row center">
                <h5 class="header col s12 light">Over 80,000 verified cryptocurrency leads</h5>
            </div>
            <div class="row center">
                <a href="#" class="btn-large waves-effect waves-light teal lighten-1">Buy Leads</a>
            </div>
        </div>

    </div>


    <script src="js/materialize.min.js"></script>
</body>

</html>
